body{
    min-height: 2000px;
}

.jumbotron{
    padding-top: 2rem;
    background-color: #90cd68;
}

section{
    margin-top: 40px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}