html,body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Libre Bodoni', serif;
    font-family: 'Open Sans', sans-serif;
}

.Gradient {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 24%, rgba(0,212,255,1) 100%); 
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #fff;
}